*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dbg1{
    height: 200px;
}

.dbg2{
    height: 190px;
}

.dbg nav{
    height: 80px;
}
.dbg .heroimage{
    height: 300px;
}
.dbg section{
    height: 400px;
}

.bg_darkblue{
    background-color: #2C3E50;
}
.bg_green{

}
